<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 起别名 -->
	<typeAliases>
		<package name="com.tfs.crm.settings.qx.user.domain"/>
		<package name="com.tfs.crm.settings.dictionary.value.domain"/>
		<package name="com.tfs.crm.workbench.activity.domain"/>
		<package name="com.tfs.crm.workbench.clue.domain"/>
		<package name="com.tfs.crm.workbench.customer.domain"/>
		<package name="com.tfs.crm.workbench.contacts.domain"/>
		<package name="com.tfs.crm.workbench.transaction.domain"/>
	</typeAliases>
	
	<!-- sql映射文件 -->
	<mappers>
		<package name="com.tfs.crm.settings.qx.user.dao"/>
		<package name="com.tfs.crm.settings.dictionary.value.dao"/>
		<package name="com.tfs.crm.workbench.activity.dao"/>
		<package name="com.tfs.crm.workbench.clue.dao"/>
		<package name="com.tfs.crm.workbench.customer.dao"/>
		<package name="com.tfs.crm.workbench.contacts.dao"/>
		<package name="com.tfs.crm.workbench.transaction.dao"/>
	</mappers>
</configuration>